{% extends "AppBundle::indexLayout.html.twig" %}

{% block body %}

{% block body_js_jquery %}
	{{ parent() }}
	{% javascripts output='js/*.js' 
		'@AppBundle/Resources/public/js/autorizados/nuevoAutorizado.js' %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
<br>
<br>

<div class="well bs-component" style="width: 750px;border-radius: 12px;left: 0;right: 0;top:0;margin: auto;">
<form class="form-horizontal">
  <fieldset>
    <legend>
    {% if persona.dni is empty %}
    Nuevo autorizado
    {% else %}
    Editar Autorizado
     {% endif %}
    
    </legend>
    	<div class="form-group ">
   	 		<div class="row">
  				<div class="col-xs-4" style="text-align: right;">
  					<label style="text-align: right; margin-bottom: 0;padding-top: 9px;">(*) Apellido</label>
  				</div>
 					<div class="col-xs-4 .col-xs-offset-4">
  				<input type="text" size="45" class="form-control" value="{{ persona.apellido }}" autocomplete="off" id="apellido" placeholder="Apellido">
   					</div>
				</div>
			</div>
			<br>
  		<div class="form-group ">
   	 		<div class="row">
  				<div class="col-xs-4" style="text-align: right;">
  					<label style="text-align: right; margin-bottom: 0;padding-top: 9px;">(*) Nombre</label>
  				</div>
 			<div class="col-xs-4 .col-xs-offset-4">
  				<input type="text" size="45" class="form-control"  value="{{ persona.nombre }}" autocomplete="off" id="nombre" placeholder="Nombre">
   			</div>
		</div>
		</div>
        <br>
           
    	<div class="form-group ">
   	 		<div class="row">
  				<div class="col-xs-4" style="text-align: right;">
  					<label style="text-align: right; margin-bottom: 0;padding-top: 9px;">(*) DNI</label>
  				</div>
 			<div class="col-xs-4 .col-xs-offset-4">
  				<input type="number" size="10" class="form-control" value="{{ persona.dni }}"  autocomplete="off" id="dni"  placeholder="DNI">
   			</div>
		</div>
		</div>
		
		<br>

	<div class="form-group ">
   	 		<div class="row">
  				<div class="col-xs-4" style="text-align: right;">
  					<label style="text-align: right; margin-bottom: 0;padding-top: 9px;">Patente</label>
  				</div>
 			<div class="col-xs-4 .col-xs-offset-4">
  				<input type="text" size="10" class="form-control" value="{{ persona.patente}}" autocomplete="off" id="patente" placeholder="Patente">
   			</div>
		</div>
		</div>
	<br>

{% if rol_id == 1 %}	

<div class="form-group ">
   	 		<div class="row">
  				<div class="col-xs-4" style="text-align: right;">
  					<label style="text-align: right; margin-bottom: 0;padding-top: 9px;"> (*) Lote</label>
  				</div>
 			<div class="col-xs-4 .col-xs-offset-4">
  				<input type="text" size="5" class="form-control" value="{{lote_persona_editar}}"  autocomplete="off" id="lote" required="required" placeholder="Lote">
   			</div>
		</div>
		</div>
		<br>

{% endif %}		
    <div class="form-group">
    	<button type="button" id="cancelar" class="btn btn-primary btn-default">Cancelar</button>  &nbsp; &nbsp;
       <button type="button" id="submit" class="btn btn-primary btn-default">Autorizar</button>
     </div>
    </div>
</div>
</fieldset>
</form>
</div>

<script type="text/javascript">


$(document).ready(function() {

	$('.dropdown-toggle').dropdown();
	
	var rutas = new Rutas();
	
	rutas.rutaValidarAutorizado = "{{ path('validarAutorizado') }}"

	rutas.rutaAutorizados = "{{ path('autorizados') }}"

	rutas.rol = {{ rol_id }}

	rutas.lote = {{ lote }}

	rutas.id_usuario_editado = {{ persona.id }}
	
	rutas.init();
	

});


</script>

{% endblock %}
